.visual-ui {
  width: 70%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid rgb(204, 222, 245);
  background-color: rgb(236, 241, 248);
}
.index {
  color: rgb(171, 87, 177);
}
.default-black {
  color: rgb(80, 80, 80);
}
.colon {
  position: relative;
  top: -1px;
}
.triangle-toggle {
  position: absolute;

  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width:0;
  height:0;
  overflow:hidden;
  /*朝上的三角形*/
  /* border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-bottom:6px solid #118a11; */
  /*朝左的三角形*/
  /* border-right:6px solid #118a11;
  border-top:6px solid transparent;
  border-bottom:6px solid transparent; */
}
.unfold {
  /*朝下的三角形*/
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #909090;
  top: 8px;
  left: -16px;
}
.fold {
  /*朝右的三角形*/
  border-left: 8px solid #909090;
  border-top: 6px solid transparent;
  border-bottom: 8px solid transparent;
  top: 4px;
  left: -15px;
}
.relative {
  position: relative;
}